@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.2409 0.0294 231.495);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.2409 0.0294 231.495);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.2409 0.0294 231.495);
	--primary: oklch(0.6267 0.1996 26.5003);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.5592 0.055 171.2603);
	--secondary-foreground: oklch(1 0 0);
	--muted: oklch(1 0 0);
	--muted-foreground: oklch(0.5884 0.0252 229.3905);
	--accent: oklch(0.9491 0 0);
	--accent-foreground: oklch(0.2409 0.0294 231.495);
	--destructive: oklch(0.6747 0.2255 5.7366);
	--destructive-foreground: oklch(0.9851 0 0);
	--border: oklch(0.9659 0.0025 228.7842);
	--input: oklch(0.9659 0.0025 228.7842);
	--ring: oklch(0.6267 0.1996 26.5003);
	--chart-1: oklch(0.6193 0.0599 170.9223);
	--chart-2: oklch(0.6737 0.1946 25.9191);
	--chart-3: oklch(0.8445 0.0865 33.923);
	--chart-4: oklch(0.6268 0 0);
	--chart-5: oklch(0.683 0 0);
	--sidebar: oklch(1 0 0);
	--sidebar-foreground: oklch(0.2409 0.0294 231.495);
	--sidebar-primary: oklch(0.6267 0.1996 26.5003);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(1 0 0);
	--sidebar-accent-foreground: oklch(0.2409 0.0294 231.495);
	--sidebar-border: oklch(0.9659 0.0025 228.7842);
	--sidebar-ring: oklch(0.6267 0.1996 26.5003);
	--font-sans: Geist Mono, ui-monospace, monospace;
	--font-serif: serif;
	--font-mono: JetBrains Mono, monospace;
	--radius: 0.75rem;
	--shadow-x: 0px;
	--shadow-y: 1px;
	--shadow-blur: 4px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.05;
	--shadow-color: #000000;
	--shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
	--shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
	--shadow-sm:
		0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow:
		0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow-md:
		0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
	--shadow-lg:
		0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
	--shadow-xl:
		0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
	--shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
	--tracking-normal: 0rem;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.2103 0.0059 285.8852);
	--foreground: oklch(0.8109 0 0);
	--card: oklch(0.1822 0 0);
	--card-foreground: oklch(0.8109 0 0);
	--popover: oklch(0.2103 0.0059 285.8852);
	--popover-foreground: oklch(0.8109 0 0);
	--primary: oklch(0.6737 0.1946 25.9191);
	--primary-foreground: oklch(0.2103 0.0059 285.8852);
	--secondary: oklch(0.6193 0.0599 170.9223);
	--secondary-foreground: oklch(0.2103 0.0059 285.8852);
	--muted: oklch(0.252 0 0);
	--muted-foreground: oklch(0.6268 0 0);
	--accent: oklch(0.3211 0 0);
	--accent-foreground: oklch(0.8109 0 0);
	--destructive: oklch(0.6193 0.0599 170.9223);
	--destructive-foreground: oklch(0.2103 0.0059 285.8852);
	--border: oklch(0.252 0 0);
	--input: oklch(0.252 0 0);
	--ring: oklch(0.6737 0.1946 25.9191);
	--chart-1: oklch(0.6193 0.0599 170.9223);
	--chart-2: oklch(0.6737 0.1946 25.9191);
	--chart-3: oklch(0.8445 0.0865 33.923);
	--chart-4: oklch(0.6268 0 0);
	--chart-5: oklch(0.683 0 0);
	--sidebar: oklch(0.1822 0 0);
	--sidebar-foreground: oklch(0.8109 0 0);
	--sidebar-primary: oklch(0.6737 0.1946 25.9191);
	--sidebar-primary-foreground: oklch(0.2103 0.0059 285.8852);
	--sidebar-accent: oklch(0.3211 0 0);
	--sidebar-accent-foreground: oklch(0.8109 0 0);
	--sidebar-border: oklch(0.252 0 0);
	--sidebar-ring: oklch(0.6737 0.1946 25.9191);
	--font-sans: Geist Mono, ui-monospace, monospace;
	--font-serif: serif;
	--font-mono: JetBrains Mono, monospace;
	--radius: 0.75rem;
	--shadow-x: 0px;
	--shadow-y: 1px;
	--shadow-blur: 4px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.05;
	--shadow-color: #000000;
	--shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
	--shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
	--shadow-sm:
		0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow:
		0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow-md:
		0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
	--shadow-lg:
		0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
	--shadow-xl:
		0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
	--shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
	letter-spacing: var(--tracking-normal);
}

@layer utilities {
	.scrollbar-none {
		scrollbar-width: none;
		-ms-overflow-style: none;
	}
	.scrollbar-none::-webkit-scrollbar {
		display: none;
	}
}
